/Makefile.in
/aclocal.m4
/autom4te.cache
/config/
/configure
/Makefile
/btstack-config.h
/config.log
/config.status
/example/daemon/Makefile
/platforms/posix/src/Makefile
/example/daemon/inquiry
/example/daemon/l2cap-server
/example/daemon/l2cap-throughput
/example/daemon/le_scan
/example/daemon/rfcomm-cat
/example/daemon/rfcomm-echo
/example/daemon/rfcomm-test
/example/daemon/test
/include/btstack/version.h
*.o
/src/BTdaemon
/src/libBTstack.a
/src/libBTstack.so
